@CHARSET "UTF-8";
body{ 
width:1500px; 
height:800px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFF,endColorStr=#48D1CC); /*IE 6 7 8*/ 

background: -ms-linear-gradient(top,#FFF,#48D1CC);        /* IE 10 */

background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FFF), to(#48D1CC));/*谷歌*/ 

} 
#napkeeCanvas {
		position:absolute;
		top:0px;
	}
	.napkeeComponent {
		position:absolute;
		white-space: nowrap;
	}
	.napkeeRelativeComponent {
		position:absolute;
		white-space: nowrap;
	}

#nap0{
	left:10%;
	top:47px;
	width:100%;
	height:47px;
	z-index:0;
	font-size: 40px;
	font-style:italic;
	font-weight:bold;
	text-decoration:none;
	color:#FF9900;
	white-space: normal;
}
	
#nap6{
	left:10%;
	top:146px;
	width:100%;
	height:184px;
	z-index:1;
}
	
#nap7{
	left:10%;
	top:347px;
	width:100%;
	height:225px;
	z-index:2;
}
	
#nap8{
	left:30%;
	top:597px;
	z-index:3;
}

#nap8.napkee {
	width:336px;
	height:82px;
	color:#000000;
	font-size: 32px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}

	
#nap9{
	left:60%;
	top:597px;
	z-index:4;
}

#nap9.napkee {
	width:48px;
	height:27px;
	font-size: 32px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}

	