@CHARSET "UTF-8";
.linear{ 
width:1500px; 
height:800px; 

FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFF,endColorStr=#48D1CC); /*IE 6 7 8*/ 

background: -ms-linear-gradient(top,#FFF,#48D1CC);        /* IE 10 */

background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FFF), to(#48D1CC));/*谷歌*/ 

} 

#napkeeCanvas {
		position:absolute;
		top:0px;
	}
	.napkeeComponent {
		position:absolute;
		white-space: nowrap;
	}
	.napkeeRelativeComponent {
		position:absolute;
		white-space: nowrap;
	}
#nap0{
	top:20px;
	width:100%;
	height:41px;
	z-index:0;
	font-size: 32px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#FF9900;
	white-space: normal;
}	
	
#nap6{
	left:30%;
	top:150px;
	width:50%;
	height:70px;
	z-index:0;
}
#nap7{
	left:44%;
	top:220px;
	z-index:1;
}
#nap8{
	left:41%;
	top:255px;
	z-index:1;
}
#nap9{
	left:39%;
	top:290px;
	z-index:1;
}